.about {
  background: var(--morning-birch); 
  padding: 80px 100px; 
}

.aboutContainer {
  display: flex;
  align-items: center; /* vertically center */
  gap: 2rem; /* space between image and text */
  flex-wrap: wrap; /* lets it stack on small screens */
}

.aboutImage {
  flex-shrink: 0; /* prevent image from shrinking */
}

.aboutImage img {
  border-radius: 10px;
  object-fit: cover;
}

.aboutText {
  flex: 1; /* take remaining space */
}


.aboutText p {
  color: var(--light-black); 
  margin-bottom: 1rem; 
}

@media (max-width: 768px) {
  .about {
    padding: 40px 20px;
  }
}