.about {
  background: var(--morning-birch); 
  padding: 80px 100px; 
}

.aboutText p {
  color: var(--light-black); 
  margin-bottom: 1rem; 
}

@media (max-width: 768px) {
  .about {
    padding: 40px 20px;
  }
}