.contact {
  background: var(--alpine-clay);
  padding: 80px 100px;
  text-align: center;
}

.contactInfo {
  max-width: 1000px;
  margin: 0 auto;
}

.contactItem {
  padding: 10px 20px;
  border-radius: 10px; 
  display: inline-block; 
  background-color: rgba(255, 255, 255, 0.2); 
  margin: 0 1rem; 
}

.contactItem:hover {
  transform: translateY(-5px);
}

.contactItem a {
  color: var(--light-black);
  font-size: 1.2rem; 
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .contact {
    padding: 40px 20px;
  }
  
  .contactItem {
    display: block;
    margin: 1rem 0;
    padding: 1rem;
  }
  
  .contactItem a {
    font-size: 1.2rem;
    justify-content: center;
  }
}