.landing {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, var(--darker-sky-blue) 50%, var(--sky-blue) 100%);
}

.content {
  text-align: center;
  padding: 1.5rem 4rem;
  border-radius: var(--radius-lg);
  border: 2px solid var(--sky-blue);
  max-width: 50%;
  transform: translateY(-10vh);
}

.content h1 {
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0rem;
}

.content p {
  color: var(--sky-blue);
}

@media (max-width: 768px) {
  .content h1 {
    font-size: 2rem;
  }

  .content {
    padding: 0 1rem;
    max-width: 90%;
  }
}
