.container {
  padding: 1rem 0rem 2rem;
}

.embedWrapper {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
  max-width: 800px;
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Hide link on desktop */
.mobileDownload {
  display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .mobileDownload {
    display: block;
  }
  
  .embedWrapper {
    display: none; /* Hide iframe on mobile */
  }
}