.container {
  padding: 1rem 0rem 2rem;
}

.embedWrapper {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  overflow: hidden;
  max-width: 800px;
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Hide link on desktop */
.mobileDownload {
  display: none;
}

/* from projectdetail */
.fileLink { 
  display: flex; 
  justify-content: center;  
  padding: 10px 20px; 
}

.fileLink a {
  color: var(--light-black);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px; 
  display: inline-block; 
  background-color: var(--morning-birch); 
}

.fileLink a:visited {
  color: var(--light-black); 
}

.fileLink:hover {
  transform: translateY(-5px); 
}



/* Mobile styles */
@media (max-width: 768px) {
  .mobileDownload {
    display: block;
  }
  
  .embedWrapper {
    display: none; /* Hide iframe on mobile */
  }
}