.projects {
  background: var(--sky-blue); 
  padding: 80px;
  margin: 0 auto;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 3rem;
}

.bigCard {
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 0rem 0rem; 
}

.bigCard section {
  margin-bottom: 3rem;
  background: rgba(255, 255, 255, 0.7); 
  padding: 1.5rem 4.5rem;
  border-radius: 30px;
  font-size: 1.2rem; 
}

.bigCard ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.bigCard li {
  margin-bottom: 0.5rem;
  color: var(--light-black);
}

@media (max-width: 768px) {
  .projects {
    padding: 40px 40px;
  }

  .projectsGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  
  .bigCard section {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}

