.footer {
  padding: 80px 100px;
  text-align: center;
  background: var(--alpine-clay);
}

.backButton {
  color: var(--light-black);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px; 
  display: inline-block; 
  background-color: rgba(255, 255, 255, 0.2); 
}

.backButton:hover {
  transform: translateY(-5px); 
}