.projectDetail {
  min-height: 100vh;
  background: var(--cream);
  padding: 2rem;
}

.projectHeader h1 {
  color: var(--light-black);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.projectTags {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.5rem 1rem;
  background: var(--misty-sage);
  color: var(--cream);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.projectContent {
  max-width: 800px;
  margin: 0 auto;
}

.projectContent section {
  margin-bottom: 3rem;
}

.projectContent h2 {
  color: var(--evergreen-shadow);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.projectContent ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.projectContent li {
  margin-bottom: 0.5rem;
  color: var(--light-black);
}

.pdfLink { 
  display: inline-block; 
}

.pdfLink a {
  color: var(--light-black);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px; 
  display: inline-block; 
  background-color: rgba(255, 255, 255, 0.2); 
}

.pdflink a:visited {
  color: var(--light-black); 
}

.pdfLink:hover {
  transform: translateY(-5px); 
}

.codeBlock {
  background: var(--light-black); 
  padding: 20px; 
  border-radius: 10px;
  /* overflow-x: auto; */
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0; 
}

.codeBlock code {
  font-family: 'Courier New', monospace; 
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .projectDetail {
    padding: 1rem;
  }
  
  .projectHeader h1 {
    font-size: 2.2rem;
  }
  
  .projectContent {
    padding: 0;
  }
  
  .projectContent h2 {
    font-size: 1.5rem;
  }
  
  .backButton {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}